<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.example.myapp.member.dao.IMemberRepository"> -->
<!-- <mapper namespace="com.example.demo.grade.dao.IGradeRepository"> -->
<mapper namespace="com.example.demo.likes.dao.ILikesRepository">

<!-- 	<insert id="insertLikes" parameterType="com.example.demo.likes.model.LikesDto" useGeneratedKeys="true" keyProperty="likeId">
	<![CDATA[
		INSERT INTO 
			likes (like_id, user_id, board_id) 
		VALUES 
			(ID_SEQ.NEXTVAL, #{userId}, #{boardId})
	]]>
	</insert> -->
	<insert id="insertLikes" parameterType="com.example.demo.likes.model.LikesVO">
	<![CDATA[
		INSERT INTO 
			likes (like_id, user_id, board_id) 
		VALUES 
			(#{likeId}, #{userId}, #{boardId})
	]]>
	</insert>
	
	<select id="selectMaxLikesId" parameterType="int" resultType="long">
	<![CDATA[
		SELECT NVL(MAX(like_id),0) AS "likeId"
		FROM Likes
	]]>
	</select>
	
	

	<select id="selectLikesByUserId" parameterType="Long" resultMap="likesResultMap">
	<![CDATA[
		SELECT 			
			like_id,
			user_id,
			board_id
		FROM 
			likes
		WHERE user_id=#{userId}
	]]>
	</select>
	
	<select id="selectLikesByBoardId" parameterType="Long" resultMap="likesResultMap">
		<![CDATA[
		SELECT 			
			like_id,
			user_id,
			board_id
		FROM 
			likes
		WHERE user_id=#{boardId}
		]]>
	</select>
	
	<select id="selectLikesByBoardIdAndUserId" parameterType="com.example.demo.likes.model.LikesDto" resultType="com.example.demo.likes.model.LikesVO">
		<![CDATA[
			SELECT 			
				like_id as likeId,
				user_id as userId,
				board_id as boardId
			FROM 
				likes
			WHERE board_id=#{boardId} and user_id=#{userId}
		]]>
	
	</select>
	
	<delete id="deleteLikes" parameterType="com.example.demo.likes.model.LikesDto">
		<![CDATA[
			DELETE FROM
				LIKES
			WHERE
				board_id=#{boardId} and
				user_id=#{userId}
		]]>
	</delete>
	
	
	<resultMap id="likesResultMap" type="com.example.demo.likes.model.LikesVO">
        <id property="likeId" column="like_id"/>
        <result property="userId" column="user_id"/>
        <result property="boardId" column="board_id"/>
    </resultMap>
    
    

	<!-- <select id="selectGrade" parameterType="Long" resultType="com.example.demo.grade.model.GradeVO">
	<![CDATA[
		SELECT 
			grade_id as gradeId,
			grade_name as gradeName,
			grade_order as gradeOrder
		FROM 
			grade 
		WHERE grade_id=#{gradeId}
	]]>
	</select>
	
	
    <select id="selectAllGrade" resultMap="gradeResultMap">
        <![CDATA[
        SELECT
            grade_id,
            grade_name,
            grade_order
        FROM
            grade
        ]]>
    </select>
    
    <update id="updateGrade" parameterType="com.example.demo.grade.model.GradeVO" >
		<![CDATA[
			UPDATE GRADE
			SET 
				grade_name=#{gradeName}, 
				grade_order=#{gradeOrder} 
			WHERE 
				grade_id=#{gradeId} 
		]]>
	</update>
	
	
	<delete id="deleteGrade" parameterType="com.example.demo.grade.model.GradeVO">
		<![CDATA[
			DELETE FROM
				GRADE 
			WHERE
				grade_id=#{gradeId}
		]]>
	</delete>
	


    <resultMap id="gradeResultMap" type="com.example.demo.grade.model.GradeVO">
        <id property="gradeId" column="grade_id"/>
        <result property="gradeName" column="grade_name"/>
        <result property="gradeOrder" column="grade_order"/>
    </resultMap>
	 -->
</mapper>