<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.file.dao.IFileRepository">

	<insert id="uploadFile" parameterType="com.example.demo.file.model.FileVO">
        INSERT INTO files2 (
        file_id, 
        file_name, 
        file_size,
        file_content_type,
        file_data
        )
        VALUES (#{fileId}, #{fileName}, #{fileSize}, #{fileContentType} , #{fileData})
    </insert>
 
</mapper>