<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.users.dao.IUserRepository">

	<select id="selectMaxUserNo" parameterType="long" resultType="long">
	<![CDATA[
		SELECT NVL(MAX(user_id),0) AS "userNo"
		FROM users
	]]>
	</select>

	<insert id="registerUser" parameterType="com.example.demo.users.model.UsersVO">
	<![CDATA[
		INSERT INTO 
			users (user_id, email, password, nickname, name, role, phone_number, register_date, grade_id) 
		VALUES 
			(#{userId}, #{email}, #{password}, #{nickname}, #{name}, #{role}, #{phoneNumber}, #{registerDate}, #{gradeId})
	]]>
	</insert>

	<select id="selectUser" parameterType="string" resultType="com.example.demo.users.model.UsersVO">
	<![CDATA[
		SELECT 
			user_id, email, password, nickname, name, role, phone_number, register_date
		FROM 
			users 
		WHERE email=#{email}
	]]>
	</select>
	
	<update id="updateUser" parameterType="com.example.demo.users.dto.EditUserInfoDto">
	<![CDATA[
		UPDATE users
		SET 
			password=#{newPassword}, nickname=#{nickname}, name=#{name}, 
			phone_number=#{phoneNumber}	
		WHERE 
			email=#{email}
	]]>
	</update>
	
	<delete id="deleteUser" parameterType="string">
	<![CDATA[
		DELETE FROM
			users 
		WHERE
			email=#{email}
	]]>
	</delete>
	
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			password
		FROM
			users
		WHERE email=#{email}
	]]>
	</select>
	
</mapper>